extends baseEmail

block content
  p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to the URL below.

  table.body-action(align='center' width='100%' cellpadding='0' cellspacing='0' role='presentation')
    tbody
      tr
        td(align='center')
          table(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation')
            tbody
              tr
                td(align='center')
                  a.f-fallback.button(href=url, target='_blank') Reset your password

  p This password reset is only valid for the next 10 minutes!

  p If you didn't forget your password, please ignore this email!

  p.sub
    | If you're having trouble with the button above, copy and paste the URL below into your web browser.
  p.sub #{url}
